<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Conversation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/conversation.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            <!-- <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Vincent Porter</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                </div>
                            </li>
                            <li class="clearfix active">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                <div class="about">
                                    <div class="name">Aiden Chavez</div>
                                    <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a class="receiver-avatar" href="" data-toggle="modal" data-target="#view_info">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h6 class="m-b-0">Aiden Chavez</h6>
                                        <small>Last seen: 2 hours ago</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                                            class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i
                                            class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                            class="fa fa-question"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <!-- <li class="clearfix">
                                    <div class="message-data text-right">
                                        <span class="message-data-time">10:10 AM, Today</span>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                    </div>
                                    <div class="message other-message float-right"> Hi Aiden, how are you? How is the
                                        project coming along? </div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:12 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Are we meeting today?</div>
                                </li> -->

                            </ul>
                        </div>
                        <form action="" method="POST" class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <button class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </button>
                                <input type="text" class="form-control" placeholder="Enter text here...">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script type="module">

        import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
        const token = localStorage.getItem("accessToken");
        const slagSplit = window.location.href.split('/');
        const receiverId = slagSplit[slagSplit.length - 1];
        let receiver;
        const socket = io('http://localhost:8080/chat', {
            transportOptions: {
                polling: {
                    extraHeaders: {
                        Authorization: 'Bearer ' + token,
                    }
                }
            }
        });

        const promiseAll = await Promise.allSettled([
            await (await fetch("/users/me", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    'Authorization': `Bearer ${token}`, // notice the Bearer before your token
                },
            })).json(),
            await (await fetch(`/conversations/${receiverId}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    'Authorization': `Bearer ${token}`, // notice the Bearer before your token
                },
            })).json()
        ])

        if (promiseAll[0].status == 'fulfilled' && promiseAll[1].status == 'fulfilled') {
            const users = promiseAll[0].value;
            const conversations = promiseAll[1].value;

            const listUsersHtml = users.map(user => {
                if (user.id == receiverId) {
                    receiver = user;
                }
                return `
                    <li class="clearfix">
                        <a href="/views/conversation/${user.id}"> 
                            <img src="${user.avatar}" alt="avatar">
                            <div class="about">
                                <div class="name">${user.firstName + " " + user.lastName}</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                            </div>
                        </a>
                    </li>
                `
            })
            $('.list-unstyled').html(listUsersHtml.join(''))


            // Render information of receiver
            $('.chat-about').find('h6').text(receiver.firstName)
            $('.receiver-avatar').find('img').attr('src', receiver.avatar)

            // Render message 
            let listMessagesHtml = conversations.map(message => {

                const isMe = receiverId == message.receiver.id ? true : false
                return `
                <li class="clearfix">
                    <div class="message-data ${isMe ? '' : 'text-right'}"> 
                        <span class="message-data-time">${moment(new Date(message.createdAt), "YYYYMMDD").fromNow()}</span>
                        <img style="display: ${isMe ? 'none' : 'inline-block'};" src="${message.receiver.avatar}" alt="avatar">
                    </div>
                    <div class="message ${isMe ? 'my-message' : 'other-message float-right'}"> 
                        ${message.text}
                    </div>
                </li>
                `
            })

            $('.chat-history').find('ul').html(listMessagesHtml.join(''))

            // Typing messsage
            $('.chat-message').find('input').on('change', (e) => {
                socket.emit('typing')
            })

            // Send conversation
            $('.chat-message').on('submit', (e) => {
                e.preventDefault();
                const text = $('.chat-message').find('input').val();
                listMessagesHtml += `<li class="clearfix">
                    <div class="message-data"> 
                        <span class="message-data-time">${moment(new Date(Date.now()), "YYYYMMDD").fromNow()}</span>
                    </div>
                    <div class="message my-message"> 
                        ${text}
                    </div>
                </li>
                `

                $('.chat-history').find('ul').html(listMessagesHtml)
                $('.chat-message').find('input').val("")
                socket.emit('send-conversation', {
                    text,
                    receiverId,
                })
            })

            // Receive conversation
            socket.on('receive-conversation', (data) => {
                listMessagesHtml += `<li class="clearfix">
                    <div class="message-data text-right"> 
                        <span class="message-data-time">${moment(new Date(Date.now()), "YYYYMMDD").fromNow()}</span>
                        <img style="display: inline-block" src="${receiver.avatar}" alt="avatar">
                    </div>
                    <div class="message other-message float-right"> 
                        ${data.text}
                    </div>
                </li>
                `
                $('.chat-history').find('ul').html(listMessagesHtml)

            })

        }


        // const socket = io();
        // socket.emit('message', 'hello world!')
    </script>
</body>

</html>